In [40]:
import pandas as pd
import numpy as np

In [41]:
beike = pd.read_csv('./data.csv', encoding='utf-8-sig')

C:\Users\xhd78\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (0,7,11) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [42]:
beike['房屋户型']

0        3室2厅0厨1卫
1        3室2厅0厨1卫
2        3室1厅0厨1卫
3        3室1厅0厨1卫
4        3室2厅0厨2卫
           ...
70958    1室0厅1厨1卫
70959    2室2厅1厨1卫
70960    2室1厅1厨1卫
70961    2室1厅1厨1卫
70962    2室2厅1厨2卫
Name: 房屋户型, Length: 70963, dtype: object

In [43]:
# 去除房屋户型为“车位”的那一部分
beike_type=beike[beike['房屋户型']!='车位']
beike_type

,链家编号,链接,成交时间,标题,成交价格,元/平,挂牌价格(万),成交周期(天),调价(天),带看(次),...,配备电梯,挂牌时间,交易权属,房屋用途,房屋年限,房权所属,经纪人,小区名,小区坐标,城市区
0,GZ0001255805,https://gz.ke.com/chengjiao/GZ0001255805.html,2016.01.12,穗茵园 3室2厅 81平米,130,16050 元/平,138.0,2560,0,0,...,无,2009/1/9,商品房,普通住宅,暂无数据,暂无数据,NaN,穗茵园,"113.378909,23.127592",天河
1,GZ0001229586,https://gz.ke.com/chengjiao/GZ0001229586.html,2016.01.19,同和云苑新村 3室2厅 90平米,95,10500 元/平,96.0,1103,0,0,...,无,2013/1/12,商品房,普通住宅,暂无数据,暂无数据,NaN,同和云苑新村,"113.331155,23.199078",白云
2,GZ0001255382,https://gz.ke.com/chengjiao/GZ0001255382.html,2016.01.21,广州机械科学研究院有限公司宿舍 3室1厅 89平米,83,9270 元/平,95.0,301,0,0,...,无,2015/3/27,商品房,普通住宅,暂无数据,暂无数据,曾炫冰,广州机械科学研究院有限公司宿舍,"113.445936,23.124128",黄埔
3,GZ0001227993,https://gz.ke.com/chengjiao/GZ0001227993.html,2016.01.21,纸厂宿舍 3室1厅 60.11平米,106,17635 元/平,115.0,111,0,0,...,无,2015/10/3,商品房,普通住宅,暂无数据,暂无数据,NaN,纸厂宿舍,"113.3762,23.128843",天河
4,GZ0001272955,https://gz.ke.com/chengjiao/GZ0001272955.html,2016.01.22,南洲花苑AB区 3室2厅 108平米,87,8056 元/平,150.0,3,1,0,...,无,2016/1/19,商品房,普通住宅,暂无数据,暂无数据,NaN,南洲花苑AB区,"113.310986,23.075973",海珠
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70958,1.08401e+11,NaN,2021.03.21,鸿富大厦 1室0厅 30.3平米,150,49505 元/平,150.0,287,0,6,...,有,2020/6/8,商品房,普通住宅,满五年,非共有,颜佩雯,鸿富大厦,"113.281384,23.107068",海珠
70959,1.08402e+11,NaN,2021.03.21,中国铁建国际花园 2室2厅 66.46平米,137,20614 元/平,139.0,76,13,95,...,有,2021/1/5,商品房,普通住宅,满两年,非共有,李满,中国铁建国际花园,"113.683816,23.27982",增城
70960,1.08402e+11,NaN,2021.03.21,新港东路80号大院 2室1厅 45.56平米,182,39948 元/平,185.0,27,2,21,...,无,2021/2/23,商品房,普通住宅,满五年,共有,张慧媚,新港东路80号大院,"113.346255,23.103649",海珠
70961,1.08402e+11,NaN,2021.03.21,锦绣半岛 2室1厅 86.25平米,275,31885 元/平,275.0,1,0,3,...,有,2021/3/20,商品房,普通住宅,暂无数据,非共有,陈考灵,锦绣半岛,"113.268103,23.05103",番禺
70962,1.08402e+11,NaN,2021.03.21,合汇学府名郡 2室2厅 78.29平米,150,19160 元/平,170.0,24,2,9,...,有,2021/2/25,商品房,普通住宅,暂无数据,非共有,向瑶,合汇学府名郡,"113.588504,23.117543",增城

In [44]:
beike_type['房屋户型']

0        3室2厅0厨1卫
1        3室2厅0厨1卫
2        3室1厅0厨1卫
3        3室1厅0厨1卫
4        3室2厅0厨2卫
           ...
70958    1室0厅1厨1卫
70959    2室2厅1厨1卫
70960    2室1厅1厨1卫
70961    2室1厅1厨1卫
70962    2室2厅1厨2卫
Name: 房屋户型, Length: 70195, dtype: object

In [45]:
beike_type['houseType']=beike_type['房屋户型'].apply(lambda x: x.replace('bed_','室,').replace('liv_','厅,').replace('kit_','厨,'))
beike_type['houseType']

<ipython-input-45-ecd4a397a2a8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  beike_type['roomType1']=beike_type['房屋户型'].apply(lambda x: x.replace('室','室,').replace('厅','厅,').replace('厨','厨,'))

0        3室,2厅,0厨,1卫
1        3室,2厅,0厨,1卫
2        3室,1厅,0厨,1卫
3        3室,1厅,0厨,1卫
4        3室,2厅,0厨,2卫
            ...
70958    1室,0厅,1厨,1卫
70959    2室,2厅,1厨,1卫
70960    2室,1厅,1厨,1卫
70961    2室,1厅,1厨,1卫
70962    2室,2厅,1厨,2卫
Name: roomType1, Length: 70195, dtype: object

In [48]:
beike_type

,链家编号,链接,成交时间,标题,成交价格,元/平,挂牌价格(万),成交周期(天),调价(天),带看(次),...,经纪人,小区名,小区坐标,城市区,roomType1,roomType2,bed,liv,kit,bath
0,GZ0001255805,https://gz.ke.com/chengjiao/GZ0001255805.html,2016.01.12,穗茵园 3室2厅 81平米,130,16050 元/平,138.0,2560,0,0,...,NaN,穗茵园,"113.378909,23.127592",天河,"3室,2厅,0厨,1卫",3-2-0-1,3,2,0,1
1,GZ0001229586,https://gz.ke.com/chengjiao/GZ0001229586.html,2016.01.19,同和云苑新村 3室2厅 90平米,95,10500 元/平,96.0,1103,0,0,...,NaN,同和云苑新村,"113.331155,23.199078",白云,"3室,2厅,0厨,1卫",3-2-0-1,3,2,0,1
2,GZ0001255382,https://gz.ke.com/chengjiao/GZ0001255382.html,2016.01.21,广州机械科学研究院有限公司宿舍 3室1厅 89平米,83,9270 元/平,95.0,301,0,0,...,曾炫冰,广州机械科学研究院有限公司宿舍,"113.445936,23.124128",黄埔,"3室,1厅,0厨,1卫",3-1-0-1,3,1,0,1
3,GZ0001227993,https://gz.ke.com/chengjiao/GZ0001227993.html,2016.01.21,纸厂宿舍 3室1厅 60.11平米,106,17635 元/平,115.0,111,0,0,...,NaN,纸厂宿舍,"113.3762,23.128843",天河,"3室,1厅,0厨,1卫",3-1-0-1,3,1,0,1
4,GZ0001272955,https://gz.ke.com/chengjiao/GZ0001272955.html,2016.01.22,南洲花苑AB区 3室2厅 108平米,87,8056 元/平,150.0,3,1,0,...,NaN,南洲花苑AB区,"113.310986,23.075973",海珠,"3室,2厅,0厨,2卫",3-2-0-2,3,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70958,1.08401e+11,NaN,2021.03.21,鸿富大厦 1室0厅 30.3平米,150,49505 元/平,150.0,287,0,6,...,颜佩雯,鸿富大厦,"113.281384,23.107068",海珠,"1室,0厅,1厨,1卫",1-0-1-1,1,0,1,1
70959,1.08402e+11,NaN,2021.03.21,中国铁建国际花园 2室2厅 66.46平米,137,20614 元/平,139.0,76,13,95,...,李满,中国铁建国际花园,"113.683816,23.27982",增城,"2室,2厅,1厨,1卫",2-2-1-1,2,2,1,1
70960,1.08402e+11,NaN,2021.03.21,新港东路80号大院 2室1厅 45.56平米,182,39948 元/平,185.0,27,2,21,...,张慧媚,新港东路80号大院,"113.346255,23.103649",海珠,"2室,1厅,1厨,1卫",2-1-1-1,2,1,1,1
70961,1.08402e+11,NaN,2021.03.21,锦绣半岛 2室1厅 86.25平米,275,31885 元/平,275.0,1,0,3,...,陈考灵,锦绣半岛,"113.268103,23.05103",番禺,"2室,1厅,1厨,1卫",2-1-1-1,2,1,1,1
70962,1.08402e+11,NaN,2021.03.21,合汇学府名郡 2室2厅 78.29平米,150,19160 元/平,170.0,24,2,9,...,向瑶,合汇学府名郡,"113.588504,23.117543",增城,"2室,2厅,1厨,2卫",2-2-1-2,2,2,1,2

In [49]:
# 关于tfidf的reference：https://www.jianshu.com/p/c7e2771eccaa
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(beike_type['roomType1'])
tfidf_matrix.shape

(70195, 40)

In [50]:
print(tfidf_matrix)

  (0, 8)	0.279831600661645
  (0, 2)	0.7649319087004223
  (0, 14)	0.37180735894344175
  (0, 20)	0.4453456389800773
  (1, 8)	0.279831600661645
  (1, 2)	0.7649319087004223
  (1, 14)	0.37180735894344175
  (1, 20)	0.4453456389800773
  (2, 9)	0.3901332789111175
  (2, 8)	0.2775552574721568
  (2, 2)	0.7587094251185992
  (2, 20)	0.4417228904775366
  (3, 9)	0.3901332789111175
  (3, 8)	0.2775552574721568
  (3, 2)	0.7587094251185992
  (3, 20)	0.4417228904775366
  (4, 13)	0.5106281013192894
  (4, 2)	0.685058447277834
  (4, 14)	0.3329835886137951
  (4, 20)	0.39884307148328296
  (5, 13)	0.5106281013192894
  (5, 2)	0.685058447277834
  (5, 14)	0.3329835886137951
  (5, 20)	0.39884307148328296
  (6, 11)	0.6080262865230155
  :	:
  (70188, 8)	0.4182694158638536
  (70189, 10)	0.36285936430616594
  (70189, 16)	0.5896877127388158
  (70189, 9)	0.5879219156768183
  (70189, 8)	0.4182694158638536
  (70190, 1)	0.7901405454887647
  (70190, 10)	0.18941181958650968
  (70190, 11)	0.5404910560089196
  (70190, 8)	0.21833574913423498
  (70191, 10)	0.3697255445476647
  (70191, 16)	0.6008460361008267
  (70191, 8)	0.4261840888234976
  (70191, 14)	0.5662633530827703
  (70192, 10)	0.36285936430616594
  (70192, 16)	0.5896877127388158
  (70192, 9)	0.5879219156768183
  (70192, 8)	0.4182694158638536
  (70193, 10)	0.36285936430616594
  (70193, 16)	0.5896877127388158
  (70193, 9)	0.5879219156768183
  (70193, 8)	0.4182694158638536
  (70194, 10)	0.29484614059113606
  (70194, 16)	0.479158493229218
  (70194, 13)	0.6924945001690291
  (70194, 14)	0.4515797371234277

In [51]:
tfidf.vocabulary_

{'3室': 20,
 '2厅': 14,
 '0厨': 2,
 '1卫': 8,
 '1厅': 9,
 '2卫': 13,
 '1室': 11,
 '2室': 16,
 '1厨': 10,
 '0卫': 0,
 '0厅': 1,
 '5室': 28,
 '3卫': 17,
 '4室': 24,
 '8室': 35,
 '6厅': 30,
 '6卫': 29,
 '6室': 31,
 '3厅': 18,
 '4卫': 21,
 '2厨': 15,
 '7室': 34,
 '5卫': 25,
 '4厅': 22,
 '11厅': 5,
 '7卫': 32,
 '15室': 7,
 '5厅': 26,
 '11卫': 4,
 '3厨': 19,
 '9室': 39,
 '5厨': 27,
 '11室': 6,
 '7厅': 33,
 '9卫': 36,
 '20室': 12,
 '9厅': 37,
 '9厨': 38,
 '4厨': 23,
 '10室': 3}

In [52]:
tfidf_weight = tfidf_matrix.toarray()
tfidf_weight

array([[0.        , 0.        , 0.76493191, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.76493191, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.75870943, ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [53]:
from sklearn.cluster import KMeans
clf = KMeans(n_clusters=50,random_state=10)
s = clf.fit(tfidf_weight)

In [54]:
beike_type['labels']=clf.labels_

<ipython-input-54-50675c290146>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  beike_type['labels']=clf.labels_

In [55]:
beike_type

,链家编号,链接,成交时间,标题,成交价格,元/平,挂牌价格(万),成交周期(天),调价(天),带看(次),...,小区名,小区坐标,城市区,roomType1,roomType2,bed,liv,kit,bath,labels
0,GZ0001255805,https://gz.ke.com/chengjiao/GZ0001255805.html,2016.01.12,穗茵园 3室2厅 81平米,130,16050 元/平,138.0,2560,0,0,...,穗茵园,"113.378909,23.127592",天河,"3室,2厅,0厨,1卫",3-2-0-1,3,2,0,1,7
1,GZ0001229586,https://gz.ke.com/chengjiao/GZ0001229586.html,2016.01.19,同和云苑新村 3室2厅 90平米,95,10500 元/平,96.0,1103,0,0,...,同和云苑新村,"113.331155,23.199078",白云,"3室,2厅,0厨,1卫",3-2-0-1,3,2,0,1,7
2,GZ0001255382,https://gz.ke.com/chengjiao/GZ0001255382.html,2016.01.21,广州机械科学研究院有限公司宿舍 3室1厅 89平米,83,9270 元/平,95.0,301,0,0,...,广州机械科学研究院有限公司宿舍,"113.445936,23.124128",黄埔,"3室,1厅,0厨,1卫",3-1-0-1,3,1,0,1,19
3,GZ0001227993,https://gz.ke.com/chengjiao/GZ0001227993.html,2016.01.21,纸厂宿舍 3室1厅 60.11平米,106,17635 元/平,115.0,111,0,0,...,纸厂宿舍,"113.3762,23.128843",天河,"3室,1厅,0厨,1卫",3-1-0-1,3,1,0,1,19
4,GZ0001272955,https://gz.ke.com/chengjiao/GZ0001272955.html,2016.01.22,南洲花苑AB区 3室2厅 108平米,87,8056 元/平,150.0,3,1,0,...,南洲花苑AB区,"113.310986,23.075973",海珠,"3室,2厅,0厨,2卫",3-2-0-2,3,2,0,2,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70958,1.08401e+11,NaN,2021.03.21,鸿富大厦 1室0厅 30.3平米,150,49505 元/平,150.0,287,0,6,...,鸿富大厦,"113.281384,23.107068",海珠,"1室,0厅,1厨,1卫",1-0-1-1,1,0,1,1,13
70959,1.08402e+11,NaN,2021.03.21,中国铁建国际花园 2室2厅 66.46平米,137,20614 元/平,139.0,76,13,95,...,中国铁建国际花园,"113.683816,23.27982",增城,"2室,2厅,1厨,1卫",2-2-1-1,2,2,1,1,2
70960,1.08402e+11,NaN,2021.03.21,新港东路80号大院 2室1厅 45.56平米,182,39948 元/平,185.0,27,2,21,...,新港东路80号大院,"113.346255,23.103649",海珠,"2室,1厅,1厨,1卫",2-1-1-1,2,1,1,1,1
70961,1.08402e+11,NaN,2021.03.21,锦绣半岛 2室1厅 86.25平米,275,31885 元/平,275.0,1,0,3,...,锦绣半岛,"113.268103,23.05103",番禺,"2室,1厅,1厨,1卫",2-1-1-1,2,1,1,1,1
70962,1.08402e+11,NaN,2021.03.21,合汇学府名郡 2室2厅 78.29平米,150,19160 元/平,170.0,24,2,9,...,合汇学府名郡,"113.588504,23.117543",增城,"2室,2厅,1厨,2卫",2-2-1-2,2,2,1,2,20

In [56]:
yuexiu = beike_type[beike_type['城市区']=='越秀'].loc[:,('小区坐标','元/平','成交时间','labels')].reset_index(drop=True)
for i in range(yuexiu.shape[0]):
    yuexiu['元/平'][i]=yuexiu['元/平'][i][:-4]
yuexiu

<ipython-input-56-c4e34b26aaf2>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yuexiu['元/平'][i]=yuexiu['元/平'][i][:-4]

                                 小区坐标    元/平         成交时间  labels
0                113.290664,23.139764  38210  2016.01.26       14
1     113.32089785997,23.131138481782  28027  2016.02.01       17
2                 113.30125,23.132155  33673  2016.03.01       26
3     113.32089785997,23.131138481782  27632  2016.03.08       29
4                 113.31587,23.130102  36620  2016.03.14        9
...                               ...    ...          ...     ...
4554             113.292957,23.145713  69850  2021.03.21        1
4555             113.281833,23.130506  32223  2021.03.21        1
4556             113.278824,23.143018  70003  2021.03.21        1
4557              113.31881,23.144957  40963  2021.03.21        2
4558             113.278963,23.157127  39085  2021.03.21        1

[4559 rows x 4 columns]

In [57]:
yuexiu['lon']=yuexiu['小区坐标'].apply(lambda x: x.split(',')[0])
yuexiu['lat']=yuexiu['小区坐标'].apply(lambda x: x.split(',')[1])
yuexiu.drop(columns='小区坐标',inplace=True)
yuexiu

        元/平         成交时间  labels              lon              lat
0     38210  2016.01.26       14       113.290664        23.139764
1     28027  2016.02.01       17  113.32089785997  23.131138481782
2     33673  2016.03.01       26        113.30125        23.132155
3     27632  2016.03.08       29  113.32089785997  23.131138481782
4     36620  2016.03.14        9        113.31587        23.130102
...     ...          ...     ...              ...              ...
4554  69850  2021.03.21        1       113.292957        23.145713
4555  32223  2021.03.21        1       113.281833        23.130506
4556  70003  2021.03.21        1       113.278824        23.143018
4557  40963  2021.03.21        2        113.31881        23.144957
4558  39085  2021.03.21        1       113.278963        23.157127

[4559 rows x 5 columns]

In [58]:
yuexiu['成交年份']=yuexiu['成交时间'].apply(lambda x: x.split('.')[0])
yuexiu.drop(columns='成交时间',inplace=True)
yuexiu

        元/平  labels              lon              lat  成交年份
0     38210      14       113.290664        23.139764  2016
1     28027      17  113.32089785997  23.131138481782  2016
2     33673      26        113.30125        23.132155  2016
3     27632      29  113.32089785997  23.131138481782  2016
4     36620       9        113.31587        23.130102  2016
...     ...     ...              ...              ...   ...
4554  69850       1       113.292957        23.145713  2021
4555  32223       1       113.281833        23.130506  2021
4556  70003       1       113.278824        23.143018  2021
4557  40963       2        113.31881        23.144957  2021
4558  39085       1       113.278963        23.157127  2021

[4559 rows x 5 columns]

In [59]:
# 由高德地图（https://lbs.amap.com/tools/picker）获取广州市政府所在地坐标为113.264385,23.129112
# 取经纬度差值为0.01处（约1km）
center_lon = 113.264385
center_lat = 23.129112
cost = []
label = []
year = []
for i in range(yuexiu.shape[0]):
    lon = float(yuexiu['lon'][i])
    lat = float(yuexiu['lat'][i])
    if abs(lon-center_lon) < 0.01 and abs(lat-center_lat) < 0.01:
        cost.append(int(yuexiu['元/平'][i]))
        label.append(yuexiu['labels'][i])
        year.append(yuexiu['成交年份'][i])

In [60]:
data = {'yuan/m2':cost,'year':year,'label':label}
centerHouse_info = pd.DataFrame(data)
centerHouse_info

     yuan/m2  year  label
0      19278  2016      7
1      32795  2016      9
2      22117  2016     14
3      20482  2016      7
4      18142  2016      7
..       ...   ...    ...
715    39216  2021      5
716    38205  2021      1
717    45079  2021      4
718    37898  2021      0
719    29168  2021      2

[720 rows x 3 columns]

In [61]:
cal_mean = centerHouse_info.groupby(['year','label'], as_index=False)['yuan/m2'].mean()
cal_mean

    year  label       yuan/m2
0   2016      0  23292.000000
1   2016      1  23875.222222
2   2016      2  24468.500000
3   2016      3  20428.000000
4   2016      4  21727.500000
..   ...    ...           ...
85  2021     13  28072.500000
86  2021     16  31490.000000
87  2021     21  32747.000000
88  2021     31  38161.500000
89  2021     33  28232.000000

[90 rows x 3 columns]

In [23]:
label_list = list(set(label))
for i in range(len(label_list)):
    if cal_mean[cal_mean['label']==label_list[i]].shape[0] == 6:
        print(cal_mean[cal_mean['label']==label_list[i]])

    year  label       yuan/m2
0   2016      0  23292.000000
14  2017      0  23024.500000
29  2018      0  37588.000000
39  2019      0  35507.857143
54  2020      0  39752.636364
76  2021      0  44624.333333
    year  label       yuan/m2
1   2016      1  23875.222222
15  2017      1  27316.736842
30  2018      1  36818.578947
40  2019      1  35946.770833
55  2020      1  36744.737226
77  2021      1  35109.880000
    year  label       yuan/m2
2   2016      2  24468.500000
16  2017      2  28587.400000
31  2018      2  50061.000000
41  2019      2  46818.833333
56  2020      2  36330.058824
78  2021      2  42212.285714
    year  label       yuan/m2
4   2016      4  21727.500000
18  2017      4  31061.388889
32  2018      4  32084.555556
43  2019      4  36924.458333
58  2020      4  33972.465116
80  2021      4  36676.583333
    year  label       yuan/m2
5   2016      5  21733.750000
19  2017      5  26523.400000
33  2018      5  33291.100000
44  2019      5  36697.647059
59  2020      5  34694.307692
81  2021      5  38376.850000
    year  label       yuan/m2
10  2016     13  28726.000000
24  2017     13  24851.000000
36  2018     13  30861.666667
48  2019     13  36166.250000
64  2020     13  31663.894737
85  2021     13  28072.500000